
.mainnav {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 4;
  width: 100%;
  padding: .5rem 3vw;
  background: white;
  transform: translateZ(0);
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, .3);
  * {
    margin-top: 0;
    vertical-align: top;
  }
  // The fixed header needs to add margin-top equal to its height
  & + * {
    margin-top: 3rem;
  }
  &-logo,
  &-icon {
    transition: all 250ms;
    img {
      height: 1.5rem;
      margin: .75rem 0;
      transition: all 250ms;
    }
    &:hover {
      text-decoration: none;
      opacity: .85;
    }
  }
  &-nav {
    display: inline-block;
  }
  &-links {
    @include unstyled-list;
    @include inline-list;
    display: inline-block;
    margin-left: 3vw;
  }
  &-links > li {
    position: relative;
  }
  &-links li + li {
    margin-left: 0;
  }
  .button {
    margin: 1.5rem 0;
  }
  &-link {
    display: inline-block;
    padding: 1rem;
    font-size: .8rem;
    font-weight: 600;
    line-height: 1rem;
    color: $teal;
    transition: all 350ms;
    &:hover,
    &:focus {
      color: hoverColor($teal);
      text-decoration: none;
    }
    &._active {
      color: hoverColor($teal);
      &:hover,
      &:focus {
        color: hoverColor($teal);
      }
    }
  }
}
