<section class="footer-widgets pad-extra">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="widgets-content footer-widget-wrap">
          <h3 class="widgets-title">About GoldenRipe</h3>
          <p>Lorem ipsum dolor sit amet, consectetur is a adipiscing elit. Nulla convallis egestas oncus. Donec facilisis fermentum
            sem, ac viverra ante luctus vel.</p>
          <div class="footer-social"><a href="#"><i class="fa fa-facebook-f"></i></a> <a href="#"><i class="fa fa-twitter"></i></a>
            <a href="#"><i class="fa fa-linkedin"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> <a href="#"><i class="fa fa-instagram"></i></a>            <a href="#"><i class="fa fa-youtube-play"></i></a></div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="footer-widget-wrap">
          <div class="row">
            <div class="col-md-11 col-md-offset-1">
              <h3 class="widgets-title">quick links</h3>
            </div>
            <div class="col-md-5 col-md-offset-1">
              <div class="widgets-content">
                <ul class="widgets-list">
                  <li><a href="#">Causes</a></li>
                  <li><a href="#">Projected</a></li>
                  <li><a href="#">Gallery</a></li>
                  <li><a href="#">Solution</a></li>
                  <li><a href="#">Sports</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-6">
              <div class="widgets-content">
                <ul class="widgets-list">
                  <li><a href="#">Terms of use</a></li>
                  <li><a href="#">Legal</a></li>
                  <li><a href="#">Privacy Policy</a></li>
                  <li><a href="#">Latest News</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="widgets-content">
          <h3 class="widgets-title">Contact Info</h3>
          <div class="office map">
            <p><span>Headquarters</span><br>Address: 8 king street, Melbourne 89 AUS<br>Phone: +22 6 4567 8900</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<footer id="footer" class="section footer">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <p class="copyright">Copyright © 2015 GoldenRipe. All rights reserved.</p>
      </div>

      <div class="col-md-6 col-sm-6">
        <ul class="footer-menu">
          <li><a>Terms &amp; Conditions</a></li>
          <li><a href="#">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<!--
<script src="{{ site.baseurl }}/node_modules/jquery/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/node_modules/bootstrap-sass/assets/javascripts/bootstrap.min.js"></script>
<script src="{{ site.baseurl }}/assets/lib/owlcarousel/owl-carousel/owl.carousel.min.js"></script>
<script src="{{ site.baseurl }}/assets/extras/swipebox/js/jquery.swipebox.min.js"></script>
<script src="{{ site.baseurl }}/assets/extras/rotating-carousel/js/jquery.gallery.js"></script>
<script src="{{ site.baseurl }}/assets/extras/slick/slick.js"></script>
<script src="{{ site.baseurl }}/assets/extras/magnificpopup/jquery.magnific-popup.min.js"></script>
<script src="{{ site.baseurl }}/assets/extras/scrollspeed/jQuery.scrollSpeed.js"></script>

<script src="{{ site.baseurl }}/assets/js/main.js"></script>-->
