---
layout: default
---

<header id="site-header" class="site-header classic header-classic wrapper-table bg bg-dark overlay grey">
  <div class="valign-center">
    <div class="container">
      <div class="intro text-left">
        <h1>Sowing seeds via technology.<br/>
          <p class="subtitle">Connecting people to new life.</p>
        </h1>

        <p>
          <a href="/about/" class="btn btn-charity-default-o">Learn More</a>
          <a href="/donate/" class="btn btn-charity-default">Donate now</a>
        </p>

        <div class="arrow-down">
          <a href="#our_stories" class="onPageNav">
              <i class="ion-ios-arrow-down"></i>
            </a>
        </div>
      </div>
    </div>
  </div>
</header>

<section id="urgent-causes" class="section bg-default urgent-causes pad-extra">
  <div class="container">
    <div class="row">
      <div class="col-md-5">
        <h2>Touch the Heart.<br />Free the Mind.</h2>
      </div>
      <div class="col-md-7">
        <p>GoldenRipe builds mobile and web apps for people to exchange questions, answers, and comments about faith, life, and afterlife. Through this exchange, we are forming a multi-lingual, community-driven knowledge base and sparking conversations among believers and non-believers of all creeds.</p>
      </div>
    </div>
  </div>
</section>

<section id="call-to-action" class="section bg-default call-to-action">
  <div class="container-fluid">
    <div class="row no-gutter">
      <div class="col-md-4">
        <div class="fluid-grid first-grid text-center">
          <a href="/donate/">
            <h2>Give</h2>
            <span>to support our work</span>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="fluid-grid second-grid text-center">
          <a href="/together/">
            <h2>Partner</h2>
            <span>in building our technology</span>
          </a>
        </div>
      </div>

      <div class="col-md-4">
        <div class="fluid-grid third-grid text-center">
          <a href="#">
            <h2>Pray</h2>
            <span>for others around the world</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="blog-snippet" class="blog-snippet pad-extra bg-default">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Featured Article</h2>
      </div>

      <div class="col-md-12">
        <div class="full-snippet" style="background-image:url(assets/images/blog_snippet/blog-snippet.png)">
          <h3>
            <a href="blog-single.html">What it takes to save an endangered species: Are we ready yet to take the fight to the next level?</a></h3>
          <span class="snippet-author">
            <a href="#">By Alen Smith</a></span> <a href="#services" class="btn btn-charity-default">Read More</a></div>
      </div>

      <div class="col-md-12">
        <h2>Recent Articles</h2>
      </div>

      <div class="col-md-4">
        <div class="card-snippet" style="background-image:url(assets/images/blog_snippet/card-snippet-1.png)">
          <h3><a href="blog-single.html">What it takes to save an endangered species</a></h3><span class="snippet-author"><a href="#">By Alen Smith</a></span></div>
      </div>

      <div class="col-md-4">
        <div class="card-snippet" style="background-image:url(assets/images/blog_snippet/card-snippet-2.png)">
          <h3><a href="blog-single.html">What it takes to save an endangered species</a></h3><span class="snippet-author"><a href="#">By Alen Smith</a></span></div>
      </div>

      <div class="col-md-4">
        <div class="card-snippet" style="background-image:url(assets/images/blog_snippet/card-snippet-3.png)">
          <h3><a href="blog-single.html">What it takes to save an endangered species</a></h3><span class="snippet-author"><a href="#">By Alen Smith</a></span></div>
      </div>
    </div>
  </div>
</section>

<section id="newsletter_card" class="section bg-light pad-regular newsletter_card">
  <div class="container">
    <div class="row">
      <div class="col-md-12 newsletter_wrapper">
        <div class="newsletter_inner_wrapper">
          <div class="row">
            <div class="col-md-5">
              <h3>Newsletter Sign-up</h3>
              <p>Sign up to receive news and updates about how God is working through our ministry and others like it.</p>
            </div>

            <div class="col-md-7">
              <form id="subscription-form">
                <div class="row">
                  <div class="col-md-9">
                    <div class="form-group">
                      <input
                        name="email"
                        type="email"
                        id="subscriber-email"
                        class="form-control"
                        placeholder="Enter your email address"
                        required>
                    </div>
                  </div>
                  
                  <div class="col-md-3 subscribe-button_box">
                    <button id="subscribe-button" type="submit" class="btn btn-charity-dark">Subscribe</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="call-to-action-small" class="call-to-action-small">
  <div class="container">
    <div class="row">
      <div class="col-md-8 text-right">
        <h3>Let’s start doing your bit for the world. Join us as a Volunteer.</h3>
      </div>

      <div class="col-md-4">
        <div class="button-align text-left"><a href="#services" class="btn btn-charity-default">Become a volunteer</a></div>
      </div>
    </div>
  </div>
</section>
